name: Release to Maven Central

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: gradle

      - name: Extract version from tag
        run: echo "VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_ENV

      - name: Update version in files
        run: |
          VERSION=${GITHUB_REF#refs/tags/v}
          sed -i "s/^projectVersion=.*/projectVersion=${VERSION}/" gradle.properties
          sed -i "s/^[[:space:]]*def version = .*/    def version = '${VERSION}'/" goowee-core/src/main/groovy/goowee/GooweeGrailsPlugin.groovy
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          
          git checkout -b release/${VERSION}
          git add gradle.properties goowee-core/src/main/groovy/goowee/GooweeGrailsPlugin.groovy
          git commit -m "${VERSION}" || echo "No changes"
          git push origin release/${VERSION}

      - name: Import GPG key
        run: |
          echo "${{ secrets.GOOWEE_PRIVATE_KEY }}" | base64 --decode > private.key
          gpg --batch --import private.key
          rm private.key

      - name: Build and publish
        env:
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
        run: |
          ./gradlew clean build publishToSonatype closeAndReleaseSonatypeStagingRepository

      - name: Generate changelog
        id: changelog
        uses: mikepenz/release-changelog-builder-action@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          configuration: ".github/changelog-config.json"

      - name: Create GitHub Release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref_name }}
          release_name: "Release ${{ github.ref_name }}"
          body: ${{ steps.changelog.outputs.changelog }}
          draft: false
          prerelease: false